body {
	margin: 0;
}

header {
	background-color:grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

header > img {
	border-radius: 50%;	
}

header > ul > li {
	background-color: #ADD8E6;
	border-radius: 5px;
	padding: 10px 20px;
	margin: -2px;
	display: inline;
	letter-spacing: 2px;
	font-size: 15px;

}