body {
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

main > header {
	background-color:grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

header > img {
	border-radius: 50%;	
}

header > ul > li {
	background-color: #ADD8E6;
	border-radius: 5px;
	padding: 10px 20px;
	margin: -2px;
	display: inline;
	letter-spacing: 2px;
	font-size: 15px;
}

header > ul > li:hover {
	background-color: pink;
	color: white;
	transition: 1s;
}

article {
	background-color: pink;
	margin: 0 10px;
	padding: 15px;
	margin: 50px 10% 50px 10%;
	border-radius: 10px;
}

footer {
	position: fixed;
	bottom:0px;
	left: 0px;
	width: 100%;
	background-color: #C8A2C8;
	padding: 20px 10px;
}

#alinhando-centro {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#alinhando-centro > img {
	border-radius: 10px;
	transition: 1s;
}

#alinhando-centro img:hover {
	transition: 1s;
	border-radius: 50%;
}